:root {
	--dark-tile-clr: hsl(30, 100%, 85%);
	--light-tile-clr: hsl(20, 100%, 10%);
	--tile-size: 4.5rem; /* default value, will be overridden in js  */
}
body {
	margin: 0;
}
.grid {
	display: grid;
	width: fit-content;
	grid-template-columns: repeat(8, var(--tile-size));
	grid-template-rows: repeat(8, var(--tile-size));
}
.tile img {
	aspect-ratio: 1;
	width: var(--tile-size);
}
.tile.light {
	background-color: var(--light-tile-clr);
}
.tile.dark {
	background-color: var(--dark-tile-clr);
}
.imagePreloading {
	display: none;
}
img {
	pointer-events: none;
	user-select: none;
}
.dragging {
	position: absolute;
	left: calc(var(--x, 0) - (var(--tile-size) / 2));
	top: calc(var(--y, 0) - (var(--tile-size) / 2));
}
